#MobileMenu__overlay {
  position: fixed;
  inset: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
}
.MobileMenu__overlay--hidden {
  height: 0;
}

#MobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  min-width: var(--mobile-menu-width);
  height: 100vh;
  background-color: var(--c-gs-wk);
  box-shadow: var(--subtle-box-shadow);
  transition: left 0.3s ease;
}
.MobileMenu--hidden {
  left: calc(-1.5 * var(--mobile-menu-width)) !important;
}

#MobileMenu__close-btn {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#MobileMenu__close-btn > img {
  height: 100%;
  aspect-ratio: 1;
}

#MobileMenu__links {
  padding: 2rem;
  list-style-type: none;
  line-height: 4rem;
}
#MobileMenu__links > li > a {
  color: inherit;
  font-size: 1.3rem;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #MobileMenu__overlay,
  #MobileMenu {
    display: none;
  }
}
