:root {
  --ScrollTopBtn-height: 40px;
}

#ScrollTopBtn {
  height: var(--ScrollTopBtn-height);
  aspect-ratio: 1;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-gs-200);
  border: 2px solid var(--c-gs-900);
  box-shadow: var(--subtle-box-shadow);
  cursor: pointer;
  transition: bottom 1.2s ease, background-color 0.5s ease;
}
.ScrollTopBtn--hidden {
  bottom: calc(-1.5 * var(--ScrollTopBtn-height)) !important;
}
#ScrollTopBtn:hover {
  background-color: var(--c-gs-400);
}

#ScrollTopBtn > img {
  height: 100%;
  aspect-ratio: 1;
}
