:root {
  /* greyscale */
  --c-gs-900: #212121;
  --c-gs-800: #424242;
  --c-gs-700: #616161;
  --c-gs-600: #757575;
  --c-gs-500: #9e9e9e;
  --c-gs-400: #bdbdbd;
  --c-gs-300: #e0e0e0;
  --c-gs-200: #eeeeee;
  --c-gs-100: #f5f5f5;
  --c-gs-50: #fafafa;
  --c-gs-str: #000000;
  --c-gs-wk: #ffffff;

  --c-section-border: #8794a1;
  --c-link-text: #0000ff;
  --c-err-text: #8b0000;

  --c-nav-underline: #87cefa;

  --c-cta-bg: #8fbc8f;
  --c-cta-text: #000000;
  --c-cta-hover-bg: #000000;
  --c-cta-hover-text: #ffffff;

  --c-auth-title: #008b8b;
  --c-auth-focus-bg: #ebfad7;
  --c-auth-submit-bg: #bfd0e0;
  --c-auth-submit-hover-bg: #a8bed3;

  --c-recipe-outline: #ff0000;
  --c-filter-focus: #ebfad7;
  --c-filter-ingredient-bg: #b0c4de;

  --medium-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  --subtle-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.03);
  --subtle-drop-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
