@import './_dimens.css';
@import './_colours.css';
@import './_fonts.css';

body {
  font-family: var(--ff-primary);
  color: var(--gs-str);
  background-color: var(--c-gs-wk);
}

#App {
  min-height: calc(100vh - var(--nav-height));
  margin-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.inner {
  max-width: var(--global-max-width);
  margin: auto;
  padding: 0.5rem 3rem;
}

/* errors */

.err {
  width: fit-content;
  padding: 0.2rem;
  font-family: var(--ff-clear);
  font-size: 0.8rem;
  color: var(--c-err-text);
}
.err::before {
  /* exclamation and space */
  content: '\0026A0\0020';
}
.err > a {
  color: var(--c-link-text);
}

.err--hidden {
  display: none;
}

/* general */

.noscroll {
  overflow-y: hidden;
}

.bold {
  font-weight: bold;
}
