:root {
  --global-max-width: 1000px;
  --nav-height: 3.5rem;
}

#App {
  min-height: 100vh;
  margin-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.inner {
  max-width: var(--global-max-width);
  margin: auto;
  padding: 0.5rem 2rem;
}
