@import './_dimens.css';
@import './_colours.css';
@import './_fonts.css';

body {
  font-family: var(--ff-primary);
  color: var(--gs-str);
  background-color: var(--c-gs-wk);
}

.noscroll {
  overflow-y: hidden;
}

#App {
  min-height: calc(100vh - var(--nav-height));
  margin-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.inner {
  max-width: var(--global-max-width);
  margin: auto;
  padding: 0.5rem 4rem;
}
