.RecipeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--c-gs-wk);
  outline: 1px solid var(--c-gs-400);
}

.RecipeCard:hover {
  outline-color: var(--c-recipe-outline);
  z-index: 1;
}

.RecipeCard__img-box {
  width: 100%;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
}

.RecipeCard__title {
  width: fit-content;
  margin-top: 1rem;
  font-family: var(--ff-titles);
  font-size: 1.5rem;
  text-align: center;
}

.RecipeCard__author {
  color: var(--c-gs-600);
  font-size: 0.8rem;
  font-style: italic;
}
