#RecipeFilter {
  width: 600px;
  box-shadow: var(--subtle-box-shadow);
}

#RecipeFilter__accordion {
  padding: 1rem;
  background-color: var(--c-gs-300);
  cursor: pointer;
  transition: background-color 0.1s linear;
}
#RecipeFilter__accordion:after {
  content: '\025bc';
  float: right;
  color: var(--c-gs-600);
}
#RecipeFilter__accordion:hover {
  background-color: var(--c-gs-400);
}

.RecipeFilter__accordion--active {
  background-color: var(--c-gs-400) !important;
}
.RecipeFilter__accordion--active::after {
  content: '\025b2' !important;
}

#RecipeFilter__panel__wrapper {
  /* for accordion animation */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

#RecipeFilter__panel {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--c-gs-400);
}

#RecipeFilter__search-box,
.RecipeFilter__dropdown {
  padding: 0.3rem;
  font-family: var(--ff-clear);
  font-size: 1.1rem;
  background-color: var(--c-gs-100);
}

#RecipeFilter__search-box:focus,
.RecipeFilter__dropdown:focus {
  outline: none;
}
#RecipeFilter__search-box:focus {
  background-color: var(--c-filter-focus);
}
.RecipeFilter__dropdown:focus {
  border-color: var(--c-gs-str);
}

#RecipeFilter__search-box__wrapper {
  display: flex;
  align-items: center;
}

#RecipeFilter__search-box {
  width: 50%;
  padding-left: 1.8rem;
  padding-right: 1.8rem;

  background-image: url('../../assets/search.svg');
  background-repeat: no-repeat;
  background-position: 0.3rem;
  background-size: 1rem;

  border-color: var(--c-gs-str);
  border-style: solid;
  border-width: 0 0 2px 0;
}

#RecipeFilter__search-box__wrapper > button {
  position: relative;
  left: -2.2rem;
}

.RecipeFilter__dropdown {
  width: 40%;
  border: 1px solid grey;
  appearance: none;

  background-image: url('../../assets/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1.5rem;
}

#RecipeFilter__ingredients-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
  list-style-type: none;
  background-color: var(--c-gs-200);
}
.RecipeFilter__ingredients-list--hidden {
  display: none !important;
}

#RecipeFilter__ingredients-list > li {
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;
  border-radius: var(--border-radius-sm);
  background-color: var(--c-filter-ingredient-bg);
}
