#Auth {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Auth--inner {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

#Auth--title {
  margin-bottom: 1rem;
  font-family: var(--ff-titles);
  font-size: 1.8rem;
  font-weight: normal;
  color: darkcyan;
}

#Auth--username,
#Auth--password,
#Auth--submit {
  width: 100%;
  padding: 0.7rem;
  font-family: var(--ff-clear);
  font-size: 1.1rem;
  border: 1px solid grey;
  border-radius: 4px;
}

.Auth--username__error,
.Auth--password__error {
  background-color: lightcoral !important;
  border-color: red !important;
}

#Auth--username:focus,
#Auth--password:focus {
  background-color: #ebfad7;
  border-color: black;
  outline: none;
}

#Auth--submit {
  background-color: rgb(191, 208, 224);
  cursor: pointer;
}

#Auth--msg {
  align-self: flex-end;
  font-size: 0.8rem;
  color: grey;
}
#Auth--msg > a {
  color: blue;
  text-decoration: none;
}
#Auth--msg > a:hover {
  text-decoration: underline;
}

#Auth--errors {
  width: 100%;
  margin-top: 2rem;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  line-height: 1.6rem;
  color: darkred;
  background-color: lightcoral;
}

.Auth--errors__hidden {
  display: none;
}
