#Header {
  background-size: cover;
  background-position: center;
}

#Header__inner {
  height: 15rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0;
}

#Header__title {
  margin: 0 3rem;
  padding: 1.5rem 2rem 1rem 2rem;
  font-family: var(--ff-titles);
  font-size: 3rem;
  letter-spacing: 0.1rem;
  background-color: var(--c-gs-wk);
}
