#Navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: white;
  border-bottom: 1px solid lightsteelblue;
}

#Navbar--inner {
  min-height: var(--nav-height);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#Navbar--links-wrapper {
  display: none;
}

#Navbar a {
  position: relative;
  margin-right: 2rem;
  color: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
#Navbar a::after {
  content: '';
  position: absolute;
  opacity: 0;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: lightskyblue;
  transition: opacity 0.3s ease;
}
#Navbar a:hover::after {
  opacity: 1;
}

#Navbar--menu-btn {
  height: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#Navbar--menu-btn > img {
  height: 100%;
  aspect-ratio: 1;
}

#Navbar--btn-wrapper {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.Navbar--btn {
  padding: 0.4rem 1rem;
  font-family: inherit;
  font-size: 0.8rem;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}

#Navbar--register-btn {
  font-weight: bold;
  background-color: darkseagreen;
}
#Navbar--register-btn:hover {
  color: white;
  background-color: black;
}

#Navbar--auth-btn {
  background-color: transparent;
  border: 1px solid antiquewhite;
}
#Navbar--auth-btn:hover {
  background-color: lightgrey;
  border: 1px solid grey;
}

@media screen and (min-width: 768px) {
  #Navbar--menu-btn {
    display: none;
  }

  #Navbar--links-wrapper {
    display: block;
  }
}
