#ShoppingList {
  flex: 1;
  display: flex;
  justify-content: center;
}

#ShoppingList__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

#ShoppingList__counter {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#ShoppingList__ingredients {
}

#ShoppingList__ingredients > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  list-style-type: none;
  cursor: pointer;
}

#ShoppingList__ingredients > ul > li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 0.6rem;
  font-size: 1.2rem;
  white-space: nowrap;
  border-bottom: 1px solid var(--c-gs-300);
}
#ShoppingList__ingredients > ul > li:hover {
  background-color: var(--c-gs-100);
}

#ShoppingList__ingredients > ul > li > input[type='checkbox'] {
  /* hide actual checkbox and replace it with a span */
  width: 0;
  display: none;
}
#ShoppingList__ingredients > ul > li > input[type='checkbox'] + span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 25px;
  width: 25px;
  margin-right: 0.5rem;
  background-color: var(--c-gs-wk);
  border: 1px solid var(--c-gs-500);
}
#ShoppingList__ingredients
  > ul
  > li
  > input[type='checkbox']:checked
  + span:after {
  content: '\2713';
}

#ShoppingList__ingredients > ul > li > label {
  display: block;
  min-width: 250px;
  padding: 1rem 0;
}

#ShoppingList__ingredients > ul > li > input[type='checkbox'],
#ShoppingList__ingredients > ul > li > label {
  cursor: pointer;
}

#ShoppingList__ingredients
  > ul
  > li
  > input[type='checkbox']:checked
  + span
  + label {
  text-decoration: line-through;
  text-decoration-thickness: 0.1rem;
  opacity: 0.2;
}
